<html>
    <head>
        <title>Book</title>
    </head>
    <body>
        <h1>Book</h1>
        <p>
            現在登録されている本のタイトルは次のとおりです。
        </p>

        <table border=1>
            <tr>
                <th>タイトル</th>
                <th>発売日</th>
            </tr>
            <% @titles.each do |title| %>
                <tr>
                    <td><%= title.name %></td>
                    <td><%= title.sales_date %></td>
                </tr>
            <% end %>
        </table>
    </body>
</html>
